*{
  font-family:"courier", monospace;
  padding: 13px;
  margin-bottom: 4px;
  background-color:transparent;
  box-sizing: border-box;
}

#top{
  text-align: center;
}

body{
  background-image: url("https://images.unsplash.com/photo-1533628635777-112b2239b1c7?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

nav{
  background-color: gray;
}


.nav-link{
  font-size: 30px;
  font-weight: bolder;
  color: black;
  margin-right: 50px;
  margin-left: 60px;
  text-decoration: none;
  background-color: gray; 
  height: 20px;
  width: 20px;
  margin: 20px auto; 
  
  
  
}

div{
  text-align: center;
}

#Profile{
  height: 300px;
  margin-top: 400x;
  margin-bottom: 70px;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  border-style:dashed
  

}

#Name{
  font-size: 50px;
  margin-top: -50px;
  margin-bottom: 20px;
  font-weight: 800;
}

#title{
  font-size: 32px;
  margin-top: -30px;
  margin-bottom: 10px;
  
}

#intro{
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  padding: 40px;
  font-size: 24px;
}

.tools-img {
  border-style: solid;
  text-align: center;
  margin-top: 400x;
  margin-bottom: 70px;
  border-radius: 50%;
  width: 300px;
  height: 500px;
  border-style:solid
  margin-right 20px;
  margin-left: 20px;
}

#tools-title{
 font-size: 50px;
  font-weight: 800;
}

.tools-img{
  height: 200px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 50px;
}

.project{
  text-align:center
}

h3{
  font-size: 60px;
}

h4{
  font-size: 30px;
  margin-top: -15px;
  font-style: oblique;
}
h5{
  font-size: 30px;
  margin-top: -15px;
  font-style: oblique;
}
h6{
  font-size: 30px;
  margin-top: -15px;
  font-style: oblique;
}

.card{
  background-color:  gray; 
    height: 400px;
    width: 600px;
    margin: 20px auto; 
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img{
  height: 300px;
  width: 500px;
  margin-top: 1px;
}

#contact{
  text-align: center;
  margin-top: 50px;
}

.Contacts{
  font-size: 35px;
  font-style: oblique;
  font-weight: bolder;
  color: black;
  text-decoration: none;
  background-color: #8a8a8a;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}


